<div class="row">
  <div class="col s12">
    <table>
      <tr>
        <th><i class="fas fa-envelope fa-2x"></i></th>
        <td style="">{{ page.email }}</td>
      </tr>
      <tr>
        <th><i class="fab fa-github fa-2x"></i></th>
        <td>{{ page.github }}</td>
      </tr>
    </table>
  </div>
</div>

<!--
<div class="row">
  <div class="col s4">
    <i style="background-color:blue;vertical-align: middle;" class="material-icons">email</i>
  </div>
  <div class="col s8">
    <span style="background-color:red;vertical-align: middle;"> {{ page.email }} </span>
  </div>
</div>

<div class="row">
  <div class="col s4">
    <i style="background-color:blue;vertical-align: middle;" class="material-icons">cloud_upload</i>
  </div>
  <div class="col s8">
    <span style="background-color:red;vertical-align: middle;"> {{ page.github }} </span>
  </div>
</div>


<div class="" style="align-items: center; width: 100%;">


</div>
-->
