<nav>
    <div class="nav-wrapper">
      <h1 class="nav-title">
        Luqman Ariffin
      </h1>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% for item in site.data.navigation %}
          <li>
            <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
              {% if page.url == item.link %}
                {{ item.name | prepend: ">" | append: "<" }}
              {% else %}
                {{ item.name }}
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
