.front-label {
  font-weight:700;
  font-size: 24vmax;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  user-select: none;
  width: inherit;
  height: inherit;
}
.front-label:hover {
  opacity: 1.0;
}

.wip-notice {
  color: $warning-color;
  font-weight:500;
}
