/* set to !important to override Materialize stylesheet */
.carousel {
  height: 50vmin !important;
}
/* set to flexbox to center the images with the indicator icons */
.carousel-item {
  display: flex;
  align-items: start;
  justify-content: center;
}
.carousel-item img {
  width: auto !important;
  height: inherit !important;
}
