---
---
@import "materialize/materialize";
@import "main";
@import "front-page";
@import "code-highlight";

html {
  font-family: 'Roboto';
  font-weight: 400;
  overflow: hidden;
}

.main-theme {
  background-color: $primary-color;
}

.current {
  color: $navbar-font-color;
}
